.Dropdown-root > .Dropdown-control > .Dropdown-arrow-wrapper > .Dropdown-arrow {
  margin-top: 5px !important;
}
.ant-rate > .ant-rate-star {
  margin-inline-end: 5px !important;
}
.Dropdown-root > .Dropdown-control {
  padding-right: 20px !important;
}
