.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px 10px;
}
.pagination {
  cursor: not-allowed;

}

.pagination:hover {
  background-color: inherit;
  color: inherit;

}


.custom-select::-ms-expand {
  display: none;
}
